* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height:70px;
    background-color: #ffbe0b;
    border-bottom: 6px outset rgb(209, 21, 200);
}

.list-link {
    margin-right: 30px;
}

.list-link li a{
    margin-right: 10px;
    font-weight: bold;
}

.img-monster{
    width: auto;
    height: 40px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.logo a{
    margin-right: 10px;
    background-color: rgb(219, 1, 1);
    border-radius: 30px;
    border: 3px outset rgb(0, 0, 0);
}
.my-foto {
    width: 300px;
    height: auto;
}

.utama {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, white 100%),
    linear-gradient(to right, rgba(251, 133, 0, 1) 0%, rgba(142, 202, 230, 1) 59%, rgba(33, 158, 188, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.welcome-text {
    padding-left: 15px;
}

.container {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px, 120px) 300px;
    grid-template-areas: 
    'biography biography'
    'personal skills'
    ;
    row-gap: 50px;
    column-gap: 10px;
}

.kalimat-pengantar {
    grid-area: biography;
}

.kalimat-pengantar h1{
    font-size: 40px;
}

.kalimat-perkenalan {
    font-family: "lexend", Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.personal-info {
    grid-area: personal;
    /* display: flex; */
    background-color: rgb(255, 217, 146);
    /* flex-direction: column; */
    border: 6px solid rgb(255, 123, 0);
    justify-content: space-between;
    text-align: start;
    
}

.skills {
    grid-area: skills;
    border: 6px solid rgb(0, 132, 255);
    background-color: rgb(222, 222, 236);
}

.info {
    padding: 10px;
    height: 100%;
}

.info h2{
    font-family: "lexend";
    display: flex;
    justify-content: center;
}

.ul-skills {
    margin-top: 20px;
    line-height: 23px;
    margin-left: 10px;
}

.ul-personal {
    margin-top: 20px;
    line-height: 23px;
}


.li-skills {
    list-style-type: circle;
    font-weight: bold;
    font-family: "sansation";
}

.personal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, minmax(40px, 60px));
    grid-template-areas: 
    'kategori1 jawaban1'
    'kategori2 jawaban2'
    'kategori3 jawaban3'
    'kategori4 jawaban4'
    ;
}

.kategori-nama {
    grid-area: kategori1;
}

.kategori-status {
    grid-area: kategori2;
}

.kategori-hobi {
    grid-area: kategori3;
}

.kategori-alamat {
    grid-area: kategori4;
}

.jawaban-nama {
    grid-area: jawaban1;
}

.jawaban-status {
    grid-area: jawaban2;
}

.jawaban-hobi {
    grid-area: jawaban3;
}

.jawaban-alamat {
    grid-area: jawaban4;
}

.personal {
    font-family: "lexend";
    font-weight: 600;
    display: flex;
    align-items: center;
}